process {
    executor = 'slurm'
    queue = 'stsi,iscb,shared,highmem'
    cpus = 16
    memory = '16 GB'
    time = '24h'
    container = '/mnt/mohammadi/home/kganapathy/tyckolab_asm/asm.sif' 
    queueSize = 100
    clusterOptions = '--export=ALL'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /mnt/:/mnt,/gpfs:/gpfs'
}

params {
    R1_FASTQ         = null
    R2_FASTQ         = null
    outdir           = './results'
    ref_genome       = '/mnt/mohammadi/home/kganapathy/cloudasm_data/hg19/reference/'
    threads_bismark  = 4
    threads_samtools = 16
}

workDir = '/mnt/stsi/stsi4/NXT_MODULE/work'

